@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Press+Start+2P&family=Titillium+Web&display=swap');

:root{
    --bg-black-900: #292828;
    --bg-black-100: #252226;
    --bg-black-50: #565357;
    --text-black-900: #ededf4;
    --text-black-700: #f6f6f7;
    --text-color-1: #f9f953;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;

}

body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}

::before, ::after{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.home{
    display: flex;
}

.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    padding: 0 30px;
    opacity: 1;
    display: none;
}

.section:target{
    display: flex;
}

.main-content {
    padding-left: 270px;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: 2px solid yellow;
    transition: all 0.3s ease;
    margin-right: 15px;
}

.btn:hover {
    transform: scale(1.05);
}

.socials{
    background-color: #2c2b2c;
    margin-right: auto;
    margin-top: 20px;
    border: 4px solid #F8B200;
    border-radius: 50px;
    box-shadow: #f0d02e66 -5px 5px, #f0c62e4d -10px 10px, #f0a62e33 -15px 15px, #f0922e1a -20px 20px, #f0af2e0d -25px 25px;
}


.socials i{
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 15px;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding: 10px;
    transition: 0.3s ease;
}


.fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;
}

.fa-facebook:hover{
    background-color: #4267B2;
    color: white;
}

.fa-github:hover{
    background-color: black;
    color: white;
}

.fa-twitch:hover{
    background-color: #9146ff;
    color: white;
}


/* ASIDE */
.aside{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: o;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
    border-bottom: 4px solid yellow;
    border-top: 4px solid yellow;
    padding: 5px;
    border-radius: 5px;
}

.logo > span{
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow{
    0%,100%{
        color: #fff;
        text-shadow: 0 0 12px yellow, 0 0 50px yellow, 0 0 100px yellow;
    }
    10%,90%{
        color: #111;
        text-shadow: none;
    }
}

.logo > span:nth-child(2){
    animation-delay: 0.25s ;
}
.logo > span:nth-child(3){
    animation-delay: 0.5s;
}
.logo > span:nth-child(4){
    animation-delay: 0.75s;
}
.logo > span:nth-child(5){
    animation-delay: 1s;
}
.logo > span:nth-child(6){
    animation-delay: 1.25s;
}
.logo > span:nth-child(7){
    animation-delay: 1.5s;
}


.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--text-color-1);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--text-color-1);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--text-color-1);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav{
    margin-top: 50px;
}

.aside .nav li{
    margin-bottom: 25px;
    display: block;
}

.aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav li a.active {
    color: var(--text-color-1);
}

.aside .nav li a.btnColor{
    bottom: 20px;
    position: absolute;
    border: none;
}

.aside .nav li a i {
    margin-right: 15px;
}

/* HOME */

#home {
    min-height: 100vh;
    color: var(--text-black-900);
}

.home .home-info {
    flex: 0 0 60%;
}

h3.hello {
    font-size: 28px;
    margin: 15px 0px;
}

h3.hello span {
    font-family: 'Clicker Script', cursive;
    font-weight: 700;
    font-size: 30px;
    color: var(--text-color-1);
    text-shadow: 2px 2px 2px #ffc800;
}

h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
}

.typing {
    color: var(--text-color-1);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}


.box{
    position: relative;
    background: #00000080;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}

.box::before{
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate1 4s linear infinite;
}

.box:hover::before{
    inset: -20px 0px;
}

@keyframes animate1{
    0%{
       transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
     }
}

.box::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #292828;
    border-radius: 50%;
    z-index: 1;
}

.content-img{
    position: absolute;
    inset: 30px;
    border: 6px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% -10px);
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}

.box:hover .content-img img{
    opacity: 0;
}

.content-img h2{
    position: relative;
    font-size: 32px;
    color: white;
    letter-spacing: 2px;
    text-align: center;
}

.content-img h2 span{
    font-size: 20px;
}

.content-img a{
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    color: #070a1c;
    border-radius: 25px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.5s;
}

.content-img a:hover{
    letter-spacing: 0.2em;
}


/* ABOUT ME */
.card{
    position: relative;
    background: white;
    width: 350px;
    height: 190px;
    transition: 0.5s;
}

.card:hover{
    height: 550px;
}

.card .lines{
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}

.card .lines::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent, #45f3ff, 
    #45f3ff, #45f3ff, transparent);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        transform: translate(-50%,-50%) rotate(0deg) 
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg) 
    }
}

.card .lines::after{
    content: '';
    position: absolute;
    inset: 2px;
    background:#292929 ;
}

.card .imgBx{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
}

.card:hover .imgBx{
    width: 200px;
    height: 200px;
}

.card .imgBx::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(transparent, #ff3c7b, 
    #ff3c7b, #ff3c7b, transparent);
    animation: animate2 6s linear infinite;
}

@keyframes animate2{
    0%{
        transform: translate(-50%,-50%) rotate(360deg) 
    }
   100%{
        transform: translate(-50%,-50%) rotate(0deg) 
    }
}

.card .imgBx::after{
    content: '';
    position: absolute;
    inset: 2px;
    background:#292929;
}

.card .imgBx img {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width:calc(100% - 20px) ;
    height: calc(100% - 20px);
}

.card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card .content .details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(250px);
}

.card:hover .content .details{
    transform: translateY(-10%);
}

.card .content .details h2{
    font-size: 32px;
    font-weight: 600;
    color: #45f3ff;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card .content .details span{
    font-weight: 500;
    color: #ff3c7b;
    font-size: 15px;
    border: 2px solid #F8B200;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.card .content .data li{
    margin: 25px 55px ;
    text-decoration: none;
    list-style: none;
}

.card .content .data li a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.card .content .data li a i{
    margin-right: 15px;
}

/* Estilos para la tarjeta */
.about-card {
    float: left; /* Coloca la tarjeta a la izquierda */
    margin-top: 40px; /* Agrega margen superior para separarla de la sección "Home" */
    padding: 20px;
    box-sizing: border-box;
}

/* Estilos para el contenido de "About Me" */
.about-content {
    float: left; /* Coloca el contenido de "About Me" a la izquierda */
    margin-top: 20px; /* Agrega margen superior para separarla de la sección "Home" */
    padding: 20px;
    box-sizing: border-box;
}

/* Limpia el float para evitar problemas de diseño */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.section-title h2{
    color: white;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    border-bottom: 4px solid #F8B200;
    display: inline-block;
    width: 190px;
    padding-bottom: 4px;
    letter-spacing: 2px;
}

.about-text{
    width: 550px;
    color: white;
    padding-top: 30px;
    text-align: justify;
}

.about-text p {
    margin-bottom: 20px;
}

.section-title2 h2{
    color: white;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    border-bottom: 4px solid #F8B200;
    display: inline-block;
    width: 210px;
    padding-bottom: 4px;
    letter-spacing: 2px;
}

.hobbies-container{
    margin-top: 25px;
    border: 4px solid #F8B200;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    box-shadow: #f0d02e66 5px 5px, #f0c62e4d 10px 10px, #f0a62e33 15px 15px, #f0922e1a 20px 20px, #f0af2e0d 25px 25px;
}

.hobbie{
    display:flex ;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    padding: 10px;
    width:150px;
    color: white;
    margin-top: 10px;
}

.icon{
    color: yellow;
    font-size: 25px;
}

.hobbie-name{
    margin-top: 20px;
    text-shadow: #FC0 1px 0 10px;
    letter-spacing: 2px;
}

/*SKILLS*/
.skills{
    flex-direction: column;
    color: #fff;
}

.skill-title{
    text-align: center;
    font-size: 42px;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 70px;
}

.skill-title span{
    color: #0ef;
}

.container-skills{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading{
    text-decoration: underline;
    text-align: center;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 30px;
}

.bar{
    font-size: 25px;
}

.technical-bars .bar{
    margin: 40px 0;
}

.technical-bars .bar:first-child{
    margin-top: 0;
}

.technical-bars .bar:last-child{
    margin-bottom: 0;
}

.technical-bars .bar .info{
    margin-bottom: 5px;
}

.technical-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation: animateP 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scale(0);
    transform-origin: left;
}

@keyframes animateP{
    100%{
        transform: scale(1);
    }
}

.technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animateP 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scale(0);
    transform-origin: left;
}

.progress-line.lan span{
    width: 90%;
}

.progress-line.lan2 span{
    width: 60%;
}
.progress-line.lan3 span{
    width: 90%;
}

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.progress-line.lan span::after{
    content: "90%";
}

.progress-line.lan2 span::after{
    content: "60%";
}
.progress-line.lan3 span::after{
    content: "90%";
}

.progress-line span::before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}

/*PROJECT*/

/*CONTACT ME*/
.contact{
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.contact-title h1{
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 3px;
    font-style: italic;
    padding: 15px;
    text-decoration: underline;
    text-underline-offset: 10px;
}
.contact-container{
  max-width: 960px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  background: #363953;
  box-shadow: 0 0 1rem hsla(0 0 0 /16%);
  border-radius: 5px;
  overflow: hidden;
}

.form-container{
    padding: 20px;
}

.form-container h3{
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.contact-form{
    display: grid;
    row-gap: 1rem;
}

.contact-form input, 
.contact-form textarea{
    width: 100%;
    border: none;
    outline: none;
    background: #2c2f48;
    color: #fff;
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 5px;
}

.contact-form textarea{
    resize: none;
    height: 200px;
}

.contact-form .send-button{
    border: none;
    outline: none;
    background: #00dbde;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.contact-form .send-button:hover{
    background: hsl(181, 100%, 44%, 0.8);
    transition: 0.3s all linear;
}

.map iframe{
    width: 100%;
    height: 100%;
}

